<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Bank service Suite">
  <test name="Bank Service Automation Test">
    <classes>
      <class name="com.bankservices.scripts.CustomerScript"/>
      <class name="com.bankservices.scripts.AccountsScript"/>
      <class name="com.bankservices.scripts.TransactionsScript"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
